{% extends 'UserPracticeBundle:Page:base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}

    <div class = "login-wrapper">
        
        Hello WORLD!''

    </div>
    
{% endblock %}
